//VARIABLES

//begin color scheme variables
$accent: #FF6600;
$darkgray: #3E3E3E;
$medgray: #5B605F;
$tan: #A1A194;
$white: #FFFFFA;
//end color scheme variables


//begin TypeKit variables
$heading: "almaq-rough", sans-serif;
$script: font-family: Kinescope;
$serif: font-family: Adobe;
$sans1: font-family: Freight;
$sans2: font-family: Open;
//end TypeKit variables


//begin spacing variables
$defaultmargin: 20px;
$defaultpadding: 20px;
$defaultborder: 20px;
$borderradius: 20px;
//end spacing variables


//END VARIABLES


/////////////////////////////////////////////////////////////////////////////////////////


//BEGIN HEADER STYLES

.headerh1 {
    
}

//END HEADER STYLES


/////////////////////////////////////////////////////////////////////////////////////////