//VARIABLES

//begin color scheme variables
$accent: #FF6600;
$darkgray: #3E3E3E;
$medgray: #5B605F;
$tan: #A1A194;
$white: #FFFFFA;
//end color scheme variables


//begin TypeKit variables
$heading: Almaq;
$script: Kinescope;
$serif: Adobe;
$sans1: Freight;
$sans2: Open;
//end TypeKit variables


//begin spacing variables
$defaultmargin: 20px;
$defaultpadding: 20px;
$defaultborder: 20px;
$borderradius: 20px;
//end spacing variables


//END VARIABLES


/////////////////////////////////////////////////////////////////////////////////////////


//BEGIN HEADER STYLES

.intro-header {
    .container {
        .row {
            .site-heading {
                font-family: $heading;
            } //end .site-heading
        } //end .row
    } //end .container
} //end .intro-header

//END HEADER STYLES


/////////////////////////////////////////////////////////////////////////////////////////